body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://images0.estately.net/1_785941_1_1454949789_636x435.jpg');
}

header {
    font-family: cursive;
    color: white;
    background-color: black;
    font-size: 25px;
    opacity: 0.7;
}

h3 {
    font-family: cursive;
}

.imgStyle {
    height: 160px;
    width: 200px;
    border: 1px solid black;
    float: left;
    margin: 15px;
}

.panelStyle {
    float: center;
    color: white;
    margin-left: 250px;
}

.aboveZero {
    color: #a6f8a6;
    font-weight: bold;
}

.belowZero {
    color: red;
    font-weight: bold;
}

.atZero {
    color: grey;
    font-weight: bold;
}

.commentButton {
    font-size: 10px;
    margin-bottom: 5px;
}

#grad {
    background: blue;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, green, blue);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, green, blue);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, green, blue);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, green, blue);
    /* Standard syntax */
    border-radius: 15px;
    opacity: 0.9;
}

#newPost {
    margin-left: 15px;
}

#upVote {
    font-size: 25px;
    color: white;
    background-color: inherit;
    border-style: inherit;
    margin-left: 15px;
}

#downVote {
    font-size: 25px;
    color: white;
    background-color: inherit;
    border-style: inherit;
}

#newForm {
    color: white;
    margin-top: 20px;
    margin-right: 35%;
    margin-left: 35%;
}
